<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AgriDataUplinkTaskMapper">

    <resultMap type="AgriDataUplinkTask" id="AgriDataUplinkTaskResult">
        <result property="uplinkId" column="uplink_id" />
        <result property="batchNo" column="batch_no" />
        <result property="dataType" column="data_type" />
        <result property="dataHash" column="data_hash" />
        <result property="chainPlatform" column="chain_platform" />
        <result property="contractAddress" column="contract_address" />
        <result property="txHash" column="tx_hash" />
        <result property="uplinkStatus" column="uplink_status" />
        <result property="uplinkTime" column="uplink_time" />
        <result property="status" column="status" />
        <result property="remark" column="remark" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectAgriDataUplinkTaskVo">
        select uplink_id, batch_no, data_type, data_hash, chain_platform, contract_address,
               tx_hash, uplink_status, uplink_time, status, remark,
               create_by, create_time, update_by, update_time
        from agri_data_uplink_task
    </sql>

    <select id="selectAgriDataUplinkTaskList" parameterType="AgriDataUplinkTask" resultMap="AgriDataUplinkTaskResult">
        <include refid="selectAgriDataUplinkTaskVo"/>
        <where>
            <if test="batchNo != null and batchNo != ''">
                and batch_no like concat('%', #{batchNo}, '%')
            </if>
            <if test="dataType != null and dataType != ''">
                and data_type = #{dataType}
            </if>
            <if test="chainPlatform != null and chainPlatform != ''">
                and chain_platform = #{chainPlatform}
            </if>
            <if test="uplinkStatus != null and uplinkStatus != ''">
                and uplink_status = #{uplinkStatus}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </where>
        order by uplink_id desc
    </select>

    <select id="selectAgriDataUplinkTaskByUplinkId" parameterType="Long" resultMap="AgriDataUplinkTaskResult">
        <include refid="selectAgriDataUplinkTaskVo"/>
        where uplink_id = #{uplinkId}
    </select>

    <insert id="insertAgriDataUplinkTask" parameterType="AgriDataUplinkTask" useGeneratedKeys="true" keyProperty="uplinkId">
        insert into agri_data_uplink_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchNo != null and batchNo != ''">batch_no,</if>
            <if test="dataType != null and dataType != ''">data_type,</if>
            <if test="dataHash != null and dataHash != ''">data_hash,</if>
            <if test="chainPlatform != null and chainPlatform != ''">chain_platform,</if>
            <if test="contractAddress != null and contractAddress != ''">contract_address,</if>
            <if test="txHash != null and txHash != ''">tx_hash,</if>
            <if test="uplinkStatus != null and uplinkStatus != ''">uplink_status,</if>
            <if test="uplinkTime != null">uplink_time,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="batchNo != null and batchNo != ''">#{batchNo},</if>
            <if test="dataType != null and dataType != ''">#{dataType},</if>
            <if test="dataHash != null and dataHash != ''">#{dataHash},</if>
            <if test="chainPlatform != null and chainPlatform != ''">#{chainPlatform},</if>
            <if test="contractAddress != null and contractAddress != ''">#{contractAddress},</if>
            <if test="txHash != null and txHash != ''">#{txHash},</if>
            <if test="uplinkStatus != null and uplinkStatus != ''">#{uplinkStatus},</if>
            <if test="uplinkTime != null">#{uplinkTime},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateAgriDataUplinkTask" parameterType="AgriDataUplinkTask">
        update agri_data_uplink_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="batchNo != null and batchNo != ''">batch_no = #{batchNo},</if>
            <if test="dataType != null and dataType != ''">data_type = #{dataType},</if>
            <if test="dataHash != null and dataHash != ''">data_hash = #{dataHash},</if>
            <if test="chainPlatform != null and chainPlatform != ''">chain_platform = #{chainPlatform},</if>
            <if test="contractAddress != null">contract_address = #{contractAddress},</if>
            <if test="txHash != null">tx_hash = #{txHash},</if>
            <if test="uplinkStatus != null and uplinkStatus != ''">uplink_status = #{uplinkStatus},</if>
            <if test="uplinkTime != null">uplink_time = #{uplinkTime},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where uplink_id = #{uplinkId}
    </update>

    <delete id="deleteAgriDataUplinkTaskByUplinkId" parameterType="Long">
        delete from agri_data_uplink_task where uplink_id = #{uplinkId}
    </delete>

    <delete id="deleteAgriDataUplinkTaskByUplinkIds" parameterType="Long">
        delete from agri_data_uplink_task where uplink_id in
        <foreach item="uplinkId" collection="array" open="(" separator="," close=")">
            #{uplinkId}
        </foreach>
    </delete>

</mapper>
